<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Eco-life</title>
     <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
     <div class="main">
          <div class="logo-png">
               <div class="logo">
                    
               </div>
          </div>
          <div class="sign-up-form">
               <div class="head">
                    <h1>Sign up</h1>
                    <h6>Join EcoLife for a greener future</h6>
               </div>
               <form action="{% url 'submitform' %}" method="POST">
                    {% csrf_token %}

                    <p>Enter your full name</p>

                    <input type="text" name="name" id="name" placeholder="Name Surname" required>
                    <p>Email</p>
                    <input type="email" name="email" id="email" placeholder="Enter your email address" required>
                    <p>Username</p>
                    <input type="text" name="Username" id="Username" placeholder="Choose a username" required>
                    <p>Set up your secure password</p>
                    <input type="password" name="password" id="password" placeholder="Minimum 8 characters required" required autocomplete="new-password">
                    <p>Confirm your password</p>
                    <input type="password" name="password" id="cpassword" placeholder="Confirm password" required autocomplete="new-password">
                    <br>
                    <input type="checkbox" name="checkbox" id="checkbox" required>
                    <label for="checkbox">By signing up, you agree to our Terms and Privacy Policy</label>
                    <br>
                    <button type="submit" class="sign-up">Get Started</button>
                    <p>Already a member? <a href="">Log in</a></p>
               </form>
          </div>
     </div>
     <script src="/js/common.js"></script>
</body>
</html>
